/* For header */
#header {
    display: flex; 
    justify-content: center; 
}

/* For homepage */ 
#slogan {
    font-size: 15px;  
    font-style: italic; 
    /* font-family: ; */
    color: rgb(6, 6, 87);
    top: 20%; 
    left: 38%;
    position: absolute;
} 

#home-photo {
    width: 700px;
    height: 300px;
    top: 30%;
    left: 23%; 
    position: absolute; 
}  

#to-login { 
    top: 82%; 
    left: 46%;
    position: absolute; 
    font-size: 12px; 
    font-family: Verdana, sans-serif;
    color: rgb(239, 240, 240);
    background-color: rgb(6, 6, 87);
    padding: 10px 30px;
}

#to-signup {
    top: 88%; 
    left: 46.5%; 
    position: absolute; 
    font-family: Verdana, sans-serif; 
    color: rgb(6, 6, 87); 
}  

hr {
    width: 70%; 
    top: 25%;  
    left: 16%;
    position: absolute; 
    height: 2px; 
    background-color: rgb(6, 6, 87);
} 

/* For login */
#login-form {
    background-color: white;
    width: 300px; 
    border-style: solid;
    border-color: rgb(6, 6, 87); 
    border-radius: 60px;
    padding: 60px 100px;
    left: 30%;
    top: 40%;
    position: absolute;
}

#login-form h2 {
    font-size: 20px; 
    font-family: Verdana, sans-serif; 
    color: rgb(6, 6, 87); 
    top: 1%;  
    position: absolute; 
} 

.login-label {
    font-size: 16px;
    display: inline-block
} 

.login-input {
    width: 150px; 
} 







